<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/layout.css">
</head>
<body>

    <% Data.forEach(element => { %>
  <div>
 <img src="<%=element.imageURL%>" alt="">
        <p>  <%= element.bookTitle%></p>
        <p>  <%= element.authorName%></p>
        <p>  <%= element.description%></p>
    </div>
        <!-- this.imageURL=data.volumeInfo.imageLinks.thumbnail || "https://i.imgur.com/J5LVHEL.jpg"
        this.bookTitle=data.volumeInfo.title|| "There Is No Title"
        this.authorName=data.volumeInfo.authors || "There Is No Author"
        this.description=data.volumeInfo.description || "There Is No Description"
         -->
    <% }) %>
</body>
</html>