<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style/reset.css">
    <link rel="stylesheet" href="/style/modules.css">
    <link rel="stylesheet" href="/public/style/modules.css">
    <link rel="stylesheet" href="/public/style/layout.css">
</head>
<body>
    <header>
        <div>
        <h2>Best Books!</h2>
       <a href="/searches/new">New Search</a>
        <img id="settIcon" src="/public/images/menu-icon-png-3-lines-5.jpg" alt="">
        </div>
    </header>
    <main></main>
<footer></footer>
</body>
</html>